
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--<title>Chesie's Profile</title>-->
      
    <script src="jquery-3.3.1.js"> </script>
      <script>
            $(document).ready(function(){
                
                $("button.delete").click(function(){
                    var id = $(this).attr("data-id")
                    
                    $("button.deletemodal").click(function(){
                        $("input#deleteid").val(id)
                    
                        $("form#deleteform").submit()
                    })
                })
                
                $("button.edit").click(function(){
                    //get attr data id from the clicked button
                    var id = $(this).attr("data-id")
               
                    $("button.editmodal").click(function(){
                        if($("input#edittitle").val() != ""){
                            //place data id into input#deleteid
                            $("input#viewid").val(id)


                            //submit the form#deleteform
                            $("form#viewform").submit()
                        }
                    })
                    
                })
                
                 $("button.meme").click(function(){
                    //get attr data id from the clicked button
                    var id = $(this).attr("data-id")
                    
                    //place data id into input#deleteid
                    $("input#memeid").val(id)
                    
                    //submit the form#deleteform
                    $("form#memeform").submit()
                })
                
                $("button.deleteTagBtn").click(function(){
                    //get attr data id from the clicked button
                    var tagid = $(this).attr("data-id")
                    var postid = $(this).attr("data-try")
                    
                    
                    //place data id into input#deleteid
                    $("input#tagid").val(tagid)
                    
                    //submit the form#deleteform
                    $("form#tagform").submit()   
                })
            })
      </script>

    <!-- Bootstrap core CSS -->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->

      <link rel="stylesheet" href="main.css">

      <!-- App CSS -->
      <link rel="stylesheet" href="/app.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>

  <body>


  <!-- Modal Edit-->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content"> <!--the whole pop up-->
              <div class="modal-header"> <!--"register" and exit button-->
                  <h5 class="modal-title" id="registerModalLabel">Edit Content</h5> <!--"register"-->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <!--exit button-->
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>

              <form id = "viewform" method="POST" action="postEdit">
                  <input id ="viewid" type = "hidden"  name = "id">
                  <div class="modal-body">
                      <div class="form-group row">
                          <label for="title" class="col-md-4 col-form-label text-md-right">Title</label>
                          <div class="col-md-6">
                              <input id="edittitle" type="text" class="form-control" name="edittitle" value="" required = "" autofocus="">
                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="tags" class="col-md-4 col-form-label text-md-right">Tags</label>
                          <div class="col-md-6">
                              <input id="edittags" type="text" class="form-control" name="edittags" required="">

                          </div>
                      </div>
                      <div class="form-group row">
                          <label for="privacy" class="col-md-4 col-form-label text-md-right">Privacy</label>
                          <div class="col-md-6">
                              <select id="editprivacy" class="form-control" name="editprivacy" value="" required="" autofocus="">
                                  <option value="val1">Private</option>
                                  <option value="val2">Public</option>
                              </select>

                          </div>
                      </div>
                  </div>
                  <div class="modal-footer"> <!--cancel and register button-->
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> <!--cancel button-->
                      <button class="editmodal btn btn-primary">Update Content</button>
                  </div>
              </form>
          </div>
      </div>
  </div>

  <!-- Modal Delete-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content"> <!--the whole pop up-->
              <div class="modal-header"> <!--"register" and exit button-->
                  <h5 class="modal-title" id="registerModalLabel">Are you sure you want to delete meme?</h5> <!--"register"-->
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <!--exit button-->
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>

              <form id = "deleteform" method="POST" action="postDelete"> <!--bottom half of pop up-->
                  <input id="deleteid" type="hidden" name="id">

                  <div class="modal-footer"> <!--cancel and register button-->
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> <!--cancel button-->
                      <button class="deletemodal btn btn-primary" >Delete</button>  <!--register button-->
                  </div>
              </form>
          </div>
      </div>
  </div>

  <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-red fixed-top bg-red">
          <a class="navbar-brand" href="home"><img id="logo" src="/MEME NUMBA WAN.png"/></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="uploadmeme">Upload a Meme</a> <!--upload a meme button-->
                  </li>
                  <li class="nav-item">
                      <a id="profile" class="nav-link active" href="./profile">My Profile</a> <!--my profile button-->
                  </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                  <form class="form-inline my-2 my-lg-0" action="search" method="GET">

                      <div class="input-group mr-sm-2">
                          <input type="text" class="form-control" placeholder="Search" name="searchinput" aria-label="Search" aria-describedby="basic-addon2">
                          <div class="input-group-append">
                              <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
                          </div>
                      </div>


                  </form>
                  <!--log out button-->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="logout">Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </nav>
  </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        <h1 class="pageTitle"><i class="fas fa-user"></i> {{username}}'s Profile</h1> <!--name of user-->
        <div class="row">
            <div class="col-12 col-md-7"> <!--memes and captions by user-->

                <form id = "tagform" action="deleteTag" method="post">
                    <input id ="tagid" type = "hidden"  name = "deletetagid">
                </form> 
                
                <form id = "memeform" action="meme" method="get">
                    <input id ="memeid" type = "hidden"  name = "id">
                </form>
                
                {{#each posts}}
                <div class="mt-4 memedivprof" data-id="{{_id}}"> <!--memes and caption-->
                    <div class="edit_delete" align="right">
  


                    </div>
                    <div class="card-body">



                        <div class="homeTitle">
                            <div class="titleee">
                                <h1 class="memeTitlee">
                                    <button class="btn btn-danger btn-lg bigger memeNameee" data-id="{{_id}}">{{title}}</button>
                                </h1>
                            </div>

                            <div class="typeee">
                            <h6 align="right" class="type">
                                {{#if privacy}}
                                    <span> private </span></h6>
                                {{else}}
                                    <span> public </span></h6>
                                {{/if}}
                            </div>
                        </div>


                        <div class ="filler"></div>

                        <img src="post/photo/{{id}}" class = "imgprof"/> <!--memes-->
                        <div class ="filler"></div>
                        <div> <!--tags-->
                            <!--Tags: <br>-->
                            {{#each tags}}
                                <a href="tag">{{this}}</a>
                                <button class="btn btn-danger btn-sm buttonid deleteTagBtn" data-id="{{this}}" > <i class="fas fa-minus-circle"></i> </button> <br>
                            {{/each}}
                        </div>

                        <br>
                        
                        <div class="bottombuttons">
                            <button class="btn btn-secondary buttonid" ><i class="fas fa-thumbs-up"></i></button>
                            <button class="btn btn-secondary buttonid ml-1" ><i class="fas fa-thumbs-down"></i></button>
                            {{#if privacy}}
                                <button class="btn btn-secondary buttonid ml-1 share" align="right"> share </button>
                            {{else}}
                            {{/if}}
<!--
                            <button class="buttonid" > {{likes}} thumbs up </button>
                            <button class="buttonid" > {{dislikes}} thumbs down </button>
                            <button class="buttonid" > {{sharedTo}} shares </button>
-->
                            <button class="btn btn-danger btn-lg edit ml-1" data-id="{{_id}}"
                                    data-toggle="modal" data-target="#editModal">Edit</button>

                            <button class="btn btn-danger btn-lg delete ml-1" data-id="{{_id}}" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash-alt"></i></button>
<!--
                            <div class="edit_delete" align="right">
                            <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#editModal">Edit</a>
                            <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deleteModal" >Delete</a>
                            </div>
-->
                                    
                        </div> 
                        
                        <div>
                            
                            

                        </div>
                    </div>
                </div>
                
                {{/each}}

            </div>

            <div class="col-12 offset-md-1 col-md-4 info"> <!--user information part-->
                <br>
                <h6><b>Username:</b></h6>
                <p class="lead"><h4>{{username}}</h4></p>
                <h6><b>Description:</b></h6>
                <p class="lead"><h4>{{description}}</h4></p>
            </div>
        </div>
    </main>

      <footer>
          <center>
              © MEME NUMBA WAN 2018 ★ <a href="about.hbs">ABOUT</a>

          </center>
      </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>